---
import '../styles.css';
import MetaTags from '../components/atoms/metatags.astro';
interface Props {
  title: string;
  description: string;
}
---
<!doctype html>
<html lang="en">
  <head>
    <MetaTags title={Astro.props.title} description={Astro.props.description} />
    <title>{Astro.props.title} - AwesomeAlpine</title>
    <script>
      import Alpine from 'alpinejs';
      window.Alpine = Alpine;
    </script>
  </head>
  <body
    class="flex min-h-full flex-col bg-white dark:bg-gray-900 max-w-[100vw]">
    <slot />
    <script is:inline type="module">
      Alpine.start();
    </script>
  </body>
</html>
