<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - AwesomeAlpine</title>
    <link rel="stylesheet" href="/src/styles.css" />
    <script type="module">
      import Alpine from 'alpinejs';

      window.Alpine = Alpine;
    </script>
  </head>
  <body
    class="flex min-h-full flex-col bg-white dark:bg-gray-950 max-w-[100vw]">
    <block name="main"></block>
  </body>
</html>
