<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - AwesomeAlpine</title>
    <link rel="stylesheet" href="/src/styles.css" />
    <script type="module">
      import Alpine from 'alpinejs';

      window.Alpine = Alpine;
    </script>
  </head>
  <body class="w-full min-h-screen bg-neutral-900 flex flex-col">
    <block name="main"> </block>
    <script type="module">
      import Alpine from 'alpinejs';

      Alpine.start();
    </script>
  </body>
</html>
