---
import Metatags from '../components/atoms/metatags.astro';
import '../styles.css';
interface Props {
  title: string;
  description: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <Metatags title={Astro.props.title} description={Astro.props.description}>
    <title>{Astro.props.title} - AwesomeAlpine</title>
  </head>
  <body class="w-full min-h-screen bg-neutral-900 flex flex-col">
    <script>
      import Alpine from 'alpinejs';
      window.Alpine = Alpine;
    </script>
    <slot />
    <script is:inline type="module">

      window.Alpine.start();
    </script>
  </body>
</html>
