---
import '../styles.css';
import Logo from '../components/atoms/logo.astro';
import LeftPanel from '../components/organisms/left-panel.astro';
interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.frontmatter.title} - AwesomeAlpine</title>
  </head>
  <body
    class="flex min-h-full flex-col bg-white dark:bg-gray-950 max-w-[100vw]">
    <div class="flex flex-col lg:flex-row w-full max-w-full min-h-screen">
      <LeftPanel
        class={'pr-2 ' +
          (Astro.props.frontmatter.description
            ? 'lg:min-w-80'
            : 'lg:min-w-64')}>
        <div
          class={'relative mr-8 ' +
            (Astro.props.frontmatter.description ? 'lg:w-64' : 'lg:w-48')}>
          <div>
            <a
              href="/"
              class="text-blue-200 flex gap-4 items-center tracking-widest text-sm">
              <Logo class="w-8 h-8" /> Awesome Alpine
            </a>
          </div>
          <h1
            class="mt-8 font-display text-3xl/tight tracking-wide leading-relaxed text-white">
            {Astro.props.frontmatter.title}
          </h1>
          {
            Astro.props.frontmatter.description && (
              <p class="mt-4 text-base text-gray-300 tracking-wide">
                {Astro.props.frontmatter.description}
              </p>
            )
          }
        </div>
      </LeftPanel>

      <div class="p-16 grow-[4]">
        <article
          class="prose dark:prose-invert w-full dark:tracking-wider prose-headings:font-medium prose-a:italic">
          <slot />
        </article>
      </div>
    </div>
    <script>
      import Alpine from 'alpinejs';
      Alpine.start();
    </script>
  </body>
</html>
