---
interface Props {
  src: string;
  width: number;
  height: number;
  alt: string;
}
---

<div
  class="relative mt-8 overflow-hidden rounded-xl bg-gray-50 dark:bg-gray-900 ring-1 ring-inset ring-indigo-900/10 dark:ring-indigo-50/10">
  <img
    src={Astro.props.src}
    width={Astro.props.width}
    height={Astro.props.height}
    class="w-full h-full object-cover my-0"
    loading="lazy"
    alt={Astro.props.alt}
  />
</div>
