---
import { Image } from 'astro:assets';
interface Props {
  src: string;
  alt: string;
}
---

<div
  class="relative overflow-hidden rounded-xl bg-gray-50 dark:bg-gray-900 ring-1 ring-inset ring-indigo-900/10 dark:ring-indigo-50/10 mb-4">
  <Image
    src={Astro.props.src}
    widths={Array.from({ length: 8 }, (_, i) => (i + 1) * 180)}
    sizes="(min-width: 1024px) 50vw, (min-width: 32rem) 30rem, 90vw"
    class="w-full h-full object-cover my-0"
    inferSize={true}
    alt={Astro.props.alt}
  />
</div>
