---
import type { MDXInstance } from 'astro';

interface Props {
  post: MDXInstance<{ date: string; title: string; description: string }>;
}
---

<article
  id="commit-message-suggestions"
  class="scroll-mt-16 max-lg:mx-auto w-full max-w-prose">
  <div>
    <header class="relative mb-10">
      <div
        class="pointer-events-none absolute left-8 top-0 z-50 flex h-4 items-center justify-end gap-x-2 lg:left-[unset] lg:right-full w-max opacity-65 text-sm">
        <a class="inline-flex" href="#commit-message-suggestions">
          <time
            datetime="2023-04-06T00:00:00.000Z"
            class="text-indigo-50 block">
            {new Date(Astro.props.post.frontmatter.date)}
          </time>
        </a>
        <div
          class="h-[0.0625rem] w-3.5 bg-indigo-300 xl:bg-indigo-200 hidden lg:block">
        </div>
      </div>
    </header>
    <div class="max-w-7xl px-6 lg:flex lg:px-8">
      <div class="lg:flex lg:w-full lg:justify-end w-full">
        <div
          class="mx-auto max-w-lg lg:mx-0 lg:max-w-xl lg:flex-auto prose dark:prose-invert flex flex-col w-full">
          <include
            src="components/molecules/article-image.html"
            locals='{ "src": "https://placekitten.com/800/600", "width": 800, "height": 600, "alt": "Cats are cute" }'
          ></include>
          <h2>
            <a href="#commit-message-suggestions"
              >{Astro.props.post.frontmatter.title}</a
            >
          </h2>
          <p>{Astro.props.post.frontmatter.description}</p>
        </div>
      </div>
    </div>
  </div>
</article>
