---
import { base64URL } from '@ekwoka/alpine-history';
const params = Object.fromEntries(new URL(Astro.request.url).searchParams);
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AwesomeAlpine Plays</title>
    <script>
      import { initializeSandbox } from '../play/playSandbox.ts';
      initializeSandbox();
    </script>
  </head>
  <body class="bg-slate-300" style="margin-top: 32px">
    <Fragment set:html={base64URL.from(params.html)}></Fragment>
  </body>
</html>
