@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-mono {
    font-family: ml, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace !important;
    font-variant-ligatures: common-ligatures !important;
    font-feature-settings:
      'calt' on,
      'liga' on,
      'ss02' on;
  }
}

:root {
  @apply scroll-smooth scroll-my-4;
}

.prose code {
  @apply block !text-base !font-mono tracking-wide !leading-[0.5];

  & .line {
    @apply block leading-loose;
  }
}

@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-Bold.woff2);
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-BoldItalic.woff2);
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-Light.woff2);
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-LightItalic.woff2);
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-Medium.woff2);
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-MediumItalic.woff2);
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-Regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-RegularItalic.woff2);
  font-display: swap;
  font-style: italic;
}
