@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-mono {
    font-family: ml, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace !important;
    font-variant-ligatures: common-ligatures !important;
    font-feature-settings:
      'calt' on,
      'liga' on,
      'ss02' on;
  }
}

:root {
  @apply scroll-smooth scroll-pt-16 scroll-pb-32;
}

.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-mt-8;
  }
  pre code {
    @apply block !text-base !font-mono tracking-wide !leading-[0.5];

    & .line {
      @apply block leading-loose pl-[4ch] -indent-[4ch];

      & span[style*='color:#ABB2BF']:before {
        content: ' ';
        font-size: 0;
        word-break: break-all;
      }
    }
  }

  :where(blockquote p:first-of-type):not(
      :where([class~='not-prose'], [class~='not-prose'] *)
    )::before {
    content: 'Note: ';
  }
  :where(blockquote p:first-of-type):not(
      :where([class~='not-prose'], [class~='not-prose'] *)
    )::after {
    content: '';
  }
}

@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-Bold.woff2);
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-BoldItalic.woff2);
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-Light.woff2);
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-LightItalic.woff2);
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-Medium.woff2);
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-MediumItalic.woff2);
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-Regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: ml;
  src: local(MonoLisa) url(./fonts/ml-RegularItalic.woff2);
  font-display: swap;
  font-style: italic;
}
