---
interface Props {
  type: 'button' | 'submit' | 'reset';
}
---

<button
  class="group relative isolate flex-none rounded-md text-sm tracking-wider text-white py-2 px-4 bg-white/15 hover:bg-white/25 transition-colors w-full sm:w-[unset]"
  type={Astro.props.type}>
  <slot />
</button>
